<?xml version="1.0"?>

<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node">
      <!--
      SETUP with real parameters of the car required!!!-->
      <param name="angle_min" value="-3.1416" />
      <param name="angle_max" value="3.1416" />
      <!--<param name="angle_increment" value="0.00615384615958" />-->
      
      <param name="angle_increment" value="0.00436332309619" />
      <param name="scan_time" value="0.0250000003725" />
      <param name="range_min" value="0.0230000000447" />
      <param name="range_max" value="10" />
      <!--
      <param name="concurrency_level" value="a value" />
      <param name="use_inf" value="a value" />  -->
      <remap from="cloud_in" to="/two_scans_cloud"/>
      <remap from="scan" to="/two_scan"/>
    </node>
</launch>
